@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #098cf0;
    --banner-bg: #333;
    --banner-shadow-bg: rgb(0 0 0 / 0.6);
    --footer-bg: #202123;
}

footer {
    background-color: var(--footer-bg);
}

.my-custom-list li.selected {
    border-image: linear-gradient(to right, #2767F8, #8938E5, #FF00CF);
    border-image-slice: 1; 
    border-image-width: 0 0 5px 0; 
    border-style: solid;
    background-color: #f0f0f0; 
}

.my-custom-list li.selected a {
    color: #007bff; 
}

.pri-menu {
    transition: all .5s;
}

.sec-menu a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.sec-menu {
    display: none;
}

.sec-menu.show {
    display: block;
    border-radius: 0px !important;
    transition: all .5s;
}
