@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --banner-bg: #333;
    --banner-shadow-bg: rgb(0 0 0 / 0.6);
    --footer-bg: #202123;
}

footer {
    background-color: var(--footer-bg);
}

.selected ul li.selected {
    border-image: linear-gradient(to right, #2767F8, #8938E5, #FF00CF);
    border-image-slice: 1; 
    border-image-width: 0 0 5px 0; 
    border-style: solid;
}

.pri-menu {
    transition: all .5s;
}

.pri-menu button, .pri-menu > a {
    text-transform: uppercase;
}

.pri-menu:hover {
    background-color: var(--primary-color);
    color: #000;
}

.sec-menu a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.sec-menu {
    display: none;
}

.sec-menu.show {
    display: block;
    border-radius: 0px !important;
    transition: all .5s;
}